.container {
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 60px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination span {
    font-size: 16px;
}