.container {
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.item {
    display: contents;
}

.text {
    font-size: 20px;
    align-self: center;
    justify-self: end;
}